# https://github.com/rancher/rancher/blob/main/chart/values.yaml

# Fully qualified name to reach your Rancher server
hostname: {{ rancher_hostname }}

ingress:
  enabled: false

# Number of Rancher server replicas. Setting to negative number will dynamically between 0 and the abs(replicas) based on available nodes.
# of available nodes in the cluster
replicas: {{ rancher_server_replicas }}


# Extra environment variables passed to the rancher pods.
extraEnv:
- name: CATTLE_SERVER_URL
  value: "https://{{ rancher_hostname }}"
- name: CATTLE_SERVER_PROTOCOL
  value: "https"


# Add labels for created namespaces so kyverno could allow them
# kubectl get namespaces --show-labels
rancherNamespaces:
  enabled: true
  labels:
    policy.kyverno.io/audit: "true"

# # Set a custom image registry mirror to pull Rancher images from; useful in air-gapped environments.
# systemDefaultRegistry: ""


resources:
  requests:
    memory: "1Gi"   # Requesting 1GB of memory per replica
    cpu: "500m"     # Requesting 0.5 CPU core per replica (for small to medium usage)
  limits:
    memory: "3Gi"   # Limiting to 3GB of memory per replica
    cpu: "2"        # Allowing up to 2 CPU cores per replica


# Source: https://ranchermanager.docs.rancher.com/how-to-guides/advanced-user-guides/enable-api-audit-log
auditLog:
  enabled: false

  # level can be one of 0, 1, 2, or 3 with 3 being the most verbose. This value is a system level default and may
  # impact the verbosity on any AuditPolicies you define. See below for a description of each log level:
  #   0: Only log metadata such as URI, method, user, etc
  #   1: Log metadata, request headers, and response headers
  #   2: Log metadata, request header, response headers, and request body
  #   3: Log metadata, request header, response heaeders, request body, and response body
  level: 0

  # destination may be one of "sidecar" or "hostPath". When set to "sidecar" logs will be sent and output to a sidecar
  # container called "rancher-audit-log". When "hostPath" logs are written to a hostpath volume called "audit-log" to
  # a directory configured by auditLog.hostPath.
  destination: sidecar
  hostPath: /var/log/rancher/audit/

  maxAge: 1
  maxBackup: 1
  maxSize: 100
