# https://github.com/projectcontour/helm-charts/blob/main/charts/contour/values.yaml

envoy:
  service:
    nodePorts:
      http: "{{ contour_node_port_http }}"
      https: "{{ contour_node_port_https }}"
    type: NodePort


ingressClass:
  enabled: true
  name: "{{ clusterIngressClassName }}"
  isDefaultClass: true


configInline:

  # The following shows the default proxy timeout settings.
  # timeouts:
  #   request-timeout: infinity
  #   connection-idle-timeout: 60s
  #   stream-idle-timeout: 5m
  #   max-connection-duration: infinity
  #   connection-shutdown-grace-period: 5s
  timeouts:
    request-timeout: infinity
    stream-idle-timeout: 1h
    connection-idle-timeout: 1h
    max-connection-duration: infinity
