# operator: https://github.com/rook/rook/blob/master/deploy/charts/rook-ceph/values.yaml
# csi driver: https://github.com/rook/rook/blob/master/deploy/charts/ceph-csi-drivers/values.yaml
# rook cluster: https://github.com/rook/rook/blob/master/deploy/charts/rook-ceph-cluster/values.yaml


cephClusterSpec:

  # enable the ceph dashboard for viewing cluster status
  dashboard:
    enabled: {{ ceph_ingress_enabled | lower }}
    ssl: false
    prometheusEndpoint: http://kube-prometheus-stack-prometheus.monitoring.svc:9090
    prometheusEndpointSSLVerify: false


  # storage configuration
  storage:
    useAllNodes: false
    useAllDevices: false

    nodes:

{% for node in ceph_storage_nodes %}
      - name: "{{ node.name }}"
        devices:
{% for device in node.devices %}
          - name: "{{ device.name }}"
{% endfor %}
{% endfor %}

# -- Enable an ingress for the ceph-dashboard
ingress:
#  dashboard: {}
  dashboard:
    host:
      name: {{ ceph_dashboard_hostname }}
      path: "/"
      pathType: Prefix
    ingressClassName: contour
