# operator: https://github.com/rook/rook/blob/master/deploy/charts/rook-ceph/values.yaml
# csi driver: https://github.com/rook/rook/blob/master/deploy/charts/ceph-csi-drivers/values.yaml
# rook cluster: https://github.com/rook/rook/blob/master/deploy/charts/rook-ceph-cluster/values.yaml


cephClusterSpec:

  # Configure the healthcheck and liveness probes for ceph pods.
  healthCheck:
    muteHealthWarning:
      AUTH_INSECURE_ROTATING_SERVICE_KEY_TYPE:
        policy: mute
      AUTH_INSECURE_CLIENT_KEY_TYPE:
        policy: mute
      AUTH_INSECURE_KEYS_ALLOWED:
        policy: mute
      AUTH_INSECURE_KEYS_CREATABLE:
        policy: mute

  # enable the ceph dashboard for viewing cluster status
  dashboard:
    enabled: {{ ceph_ingress_enabled | lower }}
    ssl: false
    prometheusEndpoint: {{ dashboard_prometheusEndpoint }}
    prometheusEndpointSSLVerify: false


  # storage configuration
  storage:
    useAllNodes: false
    useAllDevices: false

    nodes:

{% for node in ceph_storage_nodes %}
      - name: "{{ node.name }}"
        devices:
{% for device in node.devices %}
          - name: "{{ device.name }}"
{% endfor %}
{% endfor %}

# -- Enable an ingress for the ceph-dashboard
ingress:
#  dashboard: {}
  dashboard:
    host:
      name: {{ ceph_dashboard_hostname }}
      path: "/"
      pathType: Prefix
    ingressClassName: contour


#######################
# Ceph RBD
cephBlockPools:
  - name: ceph-blockpool
    storageClass:
      isDefault: true
      reclaimPolicy: {{ ceph_rbd_storageclass_reclaimPolicy }}

# Ceph FS
cephFileSystems:
  - name: ceph-filesystem
    storageClass:
      reclaimPolicy: {{ ceph_fs_storageclass_reclaimPolicy }}

# s3 alike
cephObjectStores:
  - name: ceph-objectstore
    storageClass:
      reclaimPolicy: {{ ceph_object_storageclass_reclaimPolicy }}
