# https://github.com/goharbor/harbor-helm/blob/main/values.yaml

harborAdminPassword: "{{ harbor_admin_pass }}"

core:
  extraEnvVars:
    - name: CONFIG_OVERWRITE_JSON
      value: >
        {
          "auth_mode": "oidc_auth",
          "primary_auth_mode": true,
          "oidc_auto_onboard": true,
          "oidc_name": "SSO",
          "oidc_endpoint": "{{ harbor_oidc_endpoint }}",
          "oidc_client_id": "{{ harbor_oidc_client }}",
          "oidc_client_secret": "{{ harbor_oidc_client_secret }}",
          "oidc_groups_claim": "{{ harbor_oidc_group_claim }}",
          "oidc_admin_group": "{{ harbor_oidc_admin_group }}",
          "oidc_scope": "openid,profile,email,offline_access",
          "oidc_user_claim": "preferred_username"
        }

expose:
  type: ingress
  tls:
    enabled: false
  ingress:
    hosts:
      core: {{ harbor_hostname}}
    className: "{{ clusterIngressClassName }}"
    annotations:
      projectcontour.io/response-timeout: "1h"
      projectcontour.io/request-timeout: "1h"

# If Harbor is deployed behind the proxy, set it as the URL of proxy
externalURL: https://{{ harbor_hostname}}


# The update strategy for deployments with persistent volumes(jobservice, registry): "RollingUpdate" or "Recreate"
# Set it as "Recreate" when "RWM" for volumes isn't supported
updateStrategy:
  type: Recreate

redis:
  type: internal
  internal:
    image:
      repository: docker.io/goharbor/redis-photon
      tag: dev


database:
  type: {{ harbor_database_type }}
  internal:
    # The initial superuser password for internal database
    # name of database is registry
    password: "changeit"


persistence:
  enabled: true
  # Setting it to "keep" to avoid removing PVCs during a helm delete
  # operation. Leaving it empty will delete PVCs after the chart deleted
  # (this does not apply for PVCs that are created for internal database
  # and redis components, i.e. they are never deleted automatically)
  resourcePolicy: "keep"
  persistentVolumeClaim:
    registry:
      storageClass: ""
      accessMode: ReadWriteOnce
      size: {{ harbor_registry_size }}
    jobservice:
      jobLog:
        storageClass: ""
        accessMode: ReadWriteOnce
        size: 1Gi
    database:
      storageClass: ""
      accessMode: ReadWriteOnce
      size: 1Gi
    redis:
      storageClass: ""
      accessMode: ReadWriteOnce
      size: 1Gi
    trivy: # vulnerability scanner
      storageClass: ""
      accessMode: ReadWriteOnce
      size: {{ harbor_trivy_size }}

  # Define which storage backend is used for registry to store
  # images and charts. Refer to
  # https://github.com/distribution/distribution/blob/release/2.8/docs/configuration.md#storage
  # for the detail.
  # -> persistentVolumeClaim.registry:
  imageChartStorage:
    disableredirect: false
    type: filesystem
    filesystem:
      rootdirectory: /storage
      #maxthreads: 100


metrics:
  enabled: false
  core:
    path: /metrics
    port: 8001
  registry:
    path: /metrics
    port: 8001
  jobservice:
    path: /metrics
    port: 8001
  exporter:
    path: /metrics
    port: 8001

registry:
  relativeurls: true

containerSecurityContext:
  privileged: false
  allowPrivilegeEscalation: false
  seccompProfile:
    type: RuntimeDefault
  runAsNonRoot: true
  capabilities:
    drop:
      - ALL
