# https://github.com/kyverno/kyverno/tree/main/charts
# https://github.com/kyverno/kyverno/blob/main/charts/kyverno/values.yaml


# ---------------------------------------------------------------------------
# Reports controller
# ---------------------------------------------------------------------------
#
# Permissions to check Argo CD Applications so that the custom
# ValidatingPolicy for Argo CD Applications can generate reports.
#
reportsController:
  rbac:
    clusterRole:
      extraResources:
        - apiGroups:
            - argoproj.io
          resources:
            - applications
          verbs:
            - get
            - list
            - watch


# ---------------------------------------------------------------------------
# Admission controller
# ---------------------------------------------------------------------------

admissionController:
  autoscaling:
    # -- Enable horizontal pod autoscaling
    enabled: {{ kyverno_autoscaling }}


# ---------------------------------------------------------------------------
# Kyverno features
# ---------------------------------------------------------------------------

features:

  omitEvents:
    # -- Events which should not be emitted
    # Possible values:
    #   PolicyViolation
    #   PolicyApplied
    #   PolicyError
    #   PolicySkipped
    eventTypes:
      - PolicyApplied
      - PolicySkipped
      - PolicyViolation
      # - PolicyError


  # -------------------------------------------------------------------------
  # PolicyExceptions
  # -------------------------------------------------------------------------
  #
  # Enables PolicyException support.
  #
  # PolicyExceptions are restricted to the configured namespace so that
  # workloads cannot create cluster-wide policy bypasses.
  #
  # For example, the elabftw namespace can create/use an exception such as:
  #
  #   apiVersion: policies.kyverno.io/v1
  #   kind: PolicyException
  #
  #   spec:
  #     policyRefs:
  #       - name: require-run-as-nonroot
  #         kind: ValidatingPolicy
  #
  #     matchConditions:
  #       - name: elabftw-namespace
  #         expression: "object.metadata.namespace == 'elabftw'"
  #
  # More information:
  # https://kyverno.io/docs/guides/exceptions/
  #
  policyExceptions:
    enabled: {{ kyverno_policyExceptions }}
    namespace: '{{ kyverno_policyExceptions_ns }}'
